## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Komsomolskiy,UZ,40.4272,71.7189,86.72,25,0,4.61,clear sky
1,1,Fredonia,US,42.4401,-79.3317,73.06,81,92,7.74,overcast clouds
2,2,Guerrero Negro,MX,27.9769,-114.0611,68.05,75,99,13.47,overcast clouds
3,3,New Norfolk,AU,-42.7826,147.0587,49.71,80,81,2.53,broken clouds
4,4,Busselton,AU,-33.6500,115.3333,49.01,80,4,11.07,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 52
What is the maximum temperature you would like for your trip? 87

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Komsomolskiy,UZ,40.4272,71.7189,86.72,25,0,4.61,clear sky
1,1,Fredonia,US,42.4401,-79.3317,73.06,81,92,7.74,overcast clouds
2,2,Guerrero Negro,MX,27.9769,-114.0611,68.05,75,99,13.47,overcast clouds
5,5,Cidreira,BR,-30.1811,-50.2056,66.34,86,100,11.79,overcast clouds
6,6,Khatanga,RU,71.9667,102.5000,57.61,49,99,3.04,overcast clouds
8,8,Ucluelet,CA,48.9329,-125.5528,58.08,93,97,0.25,overcast clouds
9,9,Vaini,TO,-21.2000,-175.2000,71.76,88,20,8.05,few clouds
10,10,Coquimbo,CL,-29.9533,-71.3436,55.13,66,0,3.44,clear sky
11,11,Richards Bay,ZA,-28.7830,32.0377,68.74,78,58,10.20,broken clouds
13,13,Hervey Bay,AU,-25.2986,152.8535,54.01,75,1,4.00,clear sky

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
704,False,False,False,False,False,False,False,False,False,False
706,False,False,False,False,False,False,False,False,False,False
707,False,False,False,False,False,False,False,False,False,False
708,False,False,False,False,False,False,False,False,False,False
710,False,False,False,False,False,False,False,False,False,False

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Komsomolskiy,UZ,40.4272,71.7189,86.72,25,0,4.61,clear sky
1,1,Fredonia,US,42.4401,-79.3317,73.06,81,92,7.74,overcast clouds
2,2,Guerrero Negro,MX,27.9769,-114.0611,68.05,75,99,13.47,overcast clouds
5,5,Cidreira,BR,-30.1811,-50.2056,66.34,86,100,11.79,overcast clouds
6,6,Khatanga,RU,71.9667,102.5000,57.61,49,99,3.04,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
704,704,Warwick,US,41.7001,-71.4162,84.90,65,75,13.80,broken clouds
706,706,Shellbrook,CA,53.2168,-106.4011,56.43,90,100,7.56,overcast clouds
707,707,Faya,SA,18.3851,42.4509,77.52,25,82,10.58,broken clouds
708,708,Ahuimanu,US,21.4447,-157.8378,74.91,80,0,12.66,clear sky
710,710,Bikin,RU,46.8161,134.2600,71.69,97,0,4.05,clear sky

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Komsomolskiy,UZ,86.72,clear sky,40.4272,71.7189,
1,Fredonia,US,73.06,overcast clouds,42.4401,-79.3317,
2,Guerrero Negro,MX,68.05,overcast clouds,27.9769,-114.0611,
5,Cidreira,BR,66.34,overcast clouds,-30.1811,-50.2056,
6,Khatanga,RU,57.61,overcast clouds,71.9667,102.5000,
8,Ucluelet,CA,58.08,overcast clouds,48.9329,-125.5528,
9,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,
10,Coquimbo,CL,55.13,clear sky,-29.9533,-71.3436,
11,Richards Bay,ZA,68.74,broken clouds,-28.7830,32.0377,
13,Hervey Bay,AU,54.01,clear sky,-25.2986,152.8535,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [25]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Komsomolskiy,UZ,86.72,clear sky,40.4272,71.7189,Ikathouse
1,Fredonia,US,73.06,overcast clouds,42.4401,-79.3317,Best Western Dunkirk & Fredonia Inn
2,Guerrero Negro,MX,68.05,overcast clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
5,Cidreira,BR,66.34,overcast clouds,-30.1811,-50.2056,Hotel Castelo
6,Khatanga,RU,57.61,overcast clouds,71.9667,102.5000,"""Khatanga"""
...,...,...,...,...,...,...,...
704,Warwick,US,84.90,broken clouds,41.7001,-71.4162,Hampton Inn & Suites Providence/Warwick-Airport
706,Shellbrook,CA,56.43,overcast clouds,53.2168,-106.4011,Shellbrook Hotel
707,Faya,SA,77.52,broken clouds,18.3851,42.4509,املاك خالد الشعشوع
708,Ahuimanu,US,74.91,clear sky,21.4447,-157.8378,Paradise Bay Resort
710,Bikin,RU,71.69,clear sky,46.8161,134.2600,Azhur

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))